################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BoardGameVoter/.vs/BoardGameVoter/DesignTimeBuild/.dtbcache.v2
/BoardGameVoter/.vs/BoardGameVoter/FileContentIndex/05dd28c3-638d-4b90-9e60-1b5bc5a8c1f0.vsidx
/BoardGameVoter/.vs/BoardGameVoter/FileContentIndex/0961a328-5cbe-4426-9acb-903512156dd4.vsidx
*.vsidx
/BoardGameVoter/.vs/BoardGameVoter/FileContentIndex/9e618995-4da1-45f4-b49d-501f7030209e.vsidx
/BoardGameVoter/.vs/BoardGameVoter/FileContentIndex/d7bbaa34-117d-4e78-8ff4-74cd27af3e0c.vsidx
/BoardGameVoter/.vs/BoardGameVoter/FileContentIndex/ec3a09f9-e8eb-4c39-b490-de97b53cf634.vsidx
/BoardGameVoter/.vs/BoardGameVoter/v17/.futdcache.v2
/BoardGameVoter/.vs/BoardGameVoter/v17/.suo
/BoardGameVoter/.vs/BoardGameVoter/v17/fileList.bin
/BoardGameVoter/.vs/ProjectEvaluation/boardgamevoter.metadata.v5.1
/BoardGameVoter/.vs/ProjectEvaluation/boardgamevoter.projects.v5.1
*.so
*.dylib
*.dll
/BoardGameVoter/BoardGameVoter/bin/Debug/net6.0/Azure.Core.dll
/BoardGameVoter/BoardGameVoter/bin/Debug/net6.0/BoardGameVoter.deps.json
/BoardGameVoter/BoardGameVoter/bin/Debug/net6.0/BoardGameVoter.pdb
/BoardGameVoter/BoardGameVoter/bin/Debug/net6.0/appsettings.json
/BoardGameVoter/BoardGameVoter/bin/Debug/net6.0/BoardGameVoter.dll
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/ref/BoardGameVoter.dll
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/refint/BoardGameVoter.dll
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.assets.cache
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.csproj.AssemblyReference.cache
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.csproj.CoreCompileInputs.cache
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.csproj.FileListAbsolute.txt
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.dll
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.GeneratedMSBuildEditorConfig.editorconfig
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.pdb
/BoardGameVoter/BoardGameVoter/obj/BoardGameVoter.csproj.nuget.dgspec.json
/BoardGameVoter/BoardGameVoter/obj/BoardGameVoter.csproj.nuget.g.props
/BoardGameVoter/BoardGameVoter/obj/BoardGameVoter.csproj.nuget.g.targets
/BoardGameVoter/BoardGameVoter/obj/project.assets.json
/BoardGameVoter/BoardGameVoter/obj/project.nuget.cache
/BoardGameVoter/BoardGameVoter/obj/staticwebassets.pack.sentinel
*.props
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/apphost.exe
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/project.razor.vs.json
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/BoardGameVoter.MvcApplicationPartsAssemblyInfo.cs
/BoardGameVoter/BoardGameVoter/obj/Debug/net6.0/staticwebassets.build.json
*.json
/BoardGameVoter/BoardGameVoter/bin/Debug/net6.0/BoardGameVoter.exe
*.2
